# OSX
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Thumbnails
._*
ehthumbs.db
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Icon must ends with two \r.
Icon


# Bower
/bower_components